<form action="answer" method="get" data-turbo="false">
  <label for="question">Your question</label>
  <input type="text" id="question" name="questions">
  <input type="submit" value="Ask!">
</form>

<% link_to "Ask!", answer_path %>
